*.bak
*.csv
*.dat
*.db
*.dir
*.ini
*.ipynb
*.log
*.pkl
*.pickle
*.pyc
*.swp
*.txt
.DS_Store
.ipynb_checkpoints/
/dist
/py3
/pics/*
/csvs/*
__pycache__/
MANIFEST
CONTRIBUTING.md
Makefile
pipulate.egg-info/
