---
layout: default
---
<div class="spacer">
  <div class="post-nav">
    <div class="post-nav-prev">
      {% if page.previous.url %}
      &larr;&nbsp;<a href="{{page.previous.url}}">{{page.previous.title}}</a>
      {% endif %}
    </div>
    <div class="post-nav-next">
      {% if page.next.url %}
      <nobr><a href="{{page.next.url}}">{{page.next.title}}</a>&nbsp;<img src="/assets/images/green-arrow.png" width="24" height="10"/></nobr>
      {% endif %}
    </div>
  </div>
</div>

<h1>{{ page.title }}</h1>
<p class="view">by {{ page.author | default: site.author }}</p>
<small>{{ page.date | date: "%-d %B %Y" }}</small>

{{content}}

<div class="spacer">
  <div class="post-nav">
    <div class="post-nav-prev">
      {% if page.previous.url %}
      &larr;&nbsp;<a href="{{page.previous.url}}">{{page.previous.title}}</a>
      {% endif %}
    </div>
    <div class="post-nav-next">
      {% if page.next.url %}
      <a href="{{page.next.url}}">{{page.next.title}}</a>&nbsp;<img src="/assets/images/green-arrow.png" />
      {% endif %}
    </div>
  </div>
</div>

<footer><a href="/journal/">1-Page</a> | <a href="/feed.xml">RSS</a></footer>
