---
layout: default
---
<div class="spacer">
  <div class="post-nav">
    <div class="post-nav-prev">
      {% if page.previous.url %}
      &larr;&nbsp;<a href="{{page.previous.url}}">{{page.previous.title}}</a>
      {% endif %}
    </div>
    <div class="post-nav-next">
      {% if page.next.url %}
      <a href="{{page.next.url}}">{{page.next.title}}</a>&nbsp;&rarr;
      {% endif %}
    </div>
  </div>
</div>

<h1>{{ page.title }}</h1>
<h3>by {{ page.author | default: site.author }}</h3>
{{ page.date | date: "%A, %B %d, %Y" }}

{{content}}

<div class="spacer">
  <div class="post-nav">
    <div class="post-nav-prev">
      {% if page.previous.url %}
      &larr;&nbsp;<a href="{{page.previous.url}}">{{page.previous.title}}</a>
      {% endif %}
    </div>
    <div class="post-nav-next">
      {% if page.next.url %}
      <a href="{{page.next.url}}">{{page.next.title}}</a>&nbsp;&rarr;
      {% endif %}
    </div>
  </div>
</div>

<footer><a href="/journal/">1-Page</a> | <a href="/feed.xml">RSS</a></footer>
